/**
 * Strip Unit
 *   Remove unit from value.
*/
/**
 * Convert to Rem
 *   Does the main work of converting to a standardized unit by stripping a number
 *   and multiplying by the rem value.
 */
/**
 * Rem Calc
 *   Converts any standard CSS measurement to rem.
 *   Call with 1, 2, 3 or 4 parameters. 'px' is not required but supported
 *
 * @example rem-calc(10 20 30px 40);
 *   Numbers are space delimited. If you want to delimit using commas,
 *   wrap it in another pair of parens.
 *
 * @example rem-calc((10, 20, 30, 40px));
*/
/**
 * Strip Unit
 *   Remove unit from value.
*/
/**
 * Convert to Rem
 *   Does the main work of converting to a standardized unit by stripping a number
 *   and multiplying by the rem value.
 */
/**
 * Rem Calc
 *   Converts any standard CSS measurement to rem.
 *   Call with 1, 2, 3 or 4 parameters. 'px' is not required but supported
 *
 * @example rem-calc(10 20 30px 40);
 *   Numbers are space delimited. If you want to delimit using commas,
 *   wrap it in another pair of parens.
 *
 * @example rem-calc((10, 20, 30, 40px));
*/
.c-menu__item-link--utility-contact {
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.3; }

.c-menu__item--utility-contact {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 0.8125rem 0; }
  .c-menu__item--utility-contact::after {
    content: '|';
    position: absolute;
    top: 0;
    right: -0.25rem;
    color: #d9d9d9; }
  .c-menu__item--utility-contact:first-child {
    padding-left: 0; }
  .c-menu__item--utility-contact:last-child {
    padding-right: 0; }
    .c-menu__item--utility-contact:last-child::after {
      content: none; }

@media (max-width: 991.98px) {
  .c-menu__item--expanded.utility-contact--expanded, .c-menu__item--active-trail.utility-contact--expanded {
    display: inline; } }

.c-menu__item--expanded.utility-contact--expanded .c-menu, .c-menu__item--active-trail.utility-contact--expanded .c-menu {
  display: inline; }
  @media (min-width: 768px) {
    .c-menu__item--expanded.utility-contact--expanded .c-menu, .c-menu__item--active-trail.utility-contact--expanded .c-menu {
      display: none; } }

.c-menu__item-link--utility-contact {
  color: #8c1515;
  margin: 0; }
  @media (min-width: 992px) {
    .c-menu__item-link--utility-contact {
      font-size: 1.125rem; } }
