/**
 * Strip Unit
 *   Remove unit from value.
*/
/**
 * Convert to Rem
 *   Does the main work of converting to a standardized unit by stripping a number
 *   and multiplying by the rem value.
 */
/**
 * Rem Calc
 *   Converts any standard CSS measurement to rem.
 *   Call with 1, 2, 3 or 4 parameters. 'px' is not required but supported
 *
 * @example rem-calc(10 20 30px 40);
 *   Numbers are space delimited. If you want to delimit using commas,
 *   wrap it in another pair of parens.
 *
 * @example rem-calc((10, 20, 30, 40px));
*/
/**
 * Strip Unit
 *   Remove unit from value.
*/
/**
 * Convert to Rem
 *   Does the main work of converting to a standardized unit by stripping a number
 *   and multiplying by the rem value.
 */
/**
 * Rem Calc
 *   Converts any standard CSS measurement to rem.
 *   Call with 1, 2, 3 or 4 parameters. 'px' is not required but supported
 *
 * @example rem-calc(10 20 30px 40);
 *   Numbers are space delimited. If you want to delimit using commas,
 *   wrap it in another pair of parens.
 *
 * @example rem-calc((10, 20, 30, 40px));
*/
.btn.icon--search, .btn.icon--search-button {
  display: inline-block;
  background: url("../images/icon-search-white.svg") no-repeat center/48% #8c1515;
  height: 3.125rem;
  width: 3.125rem;
  border-left: 0.0625rem solid transparent;
  padding: 0;
  font-size: 0; }
  @media (min-width: 1190px) {
    .btn.icon--search, .btn.icon--search-button {
      background: url("../images/icon-search-red.svg") no-repeat center/40% #fff;
      background-size: 40%;
      box-shadow: none;
      height: 3.75rem;
      width: 3.75rem; }
      .btn.icon--search:focus, .btn.icon--search-button:focus {
        box-shadow: #009cba 0 0 0.75rem;
        border-color: #009cba !important;
        outline: none; } }
  @media (min-width: 1190px) {
    .btn.icon--search:hover, .btn.icon--search-button:hover {
      background: url("../images/icon-search-white.svg") no-repeat center/40% #26639d; } }
  .btn.icon--search.open, .btn.icon--search-button.open {
    background: url("../images/icon-cancel-search.png") no-repeat center/50% #8c1515; }
    @media (min-width: 1190px) {
      .btn.icon--search.open, .btn.icon--search-button.open {
        background: url("../images/icon-cancel-search.png") no-repeat center/50% #8c1515; } }
  .btn.icon--search::after, .btn.icon--search-button::after {
    content: none; }

.form-search-wrapper {
  display: none;
  position: absolute;
  top: 0;
  bottom: auto;
  right: inherit;
  left: 0;
  border: 0;
  z-index: 99;
  width: calc(100% - 47px); }
  @media (min-width: 1190px) {
    .form-search-wrapper {
      top: auto;
      right: 0;
      left: inherit;
      bottom: -5.375rem;
      width: auto;
      max-width: none; } }
  .form-search-wrapper .form-item {
    margin: 0; }
  .form-search-wrapper .form-search-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 3.125rem;
    width: 100%;
    max-width: none;
    border: 0.0625rem solid #8c1515;
    border-radius: 0;
    padding: 0.625rem 2.1875rem 0.625rem 0.9375rem;
    outline: 0;
    font-family: "NewsGothicBT", "Avant Garde", "Futura", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    color: #231f20; }
    @media (min-width: 1190px) {
      .form-search-wrapper .form-search-input {
        width: 51.5625rem;
        height: 3.75rem;
        padding: 0.375rem 0.625rem;
        box-shadow: none; } }
    .form-search-wrapper .form-search-input:focus {
      border-color: #009cba;
      box-shadow: #009cba 0 0 0.75rem; }
  .form-search-wrapper .icon--search-button {
    position: absolute;
    right: 0;
    top: 0;
    background: url("../images/icon-search-red.svg") no-repeat center/40% #fff;
    margin: 0;
    border-radius: 0;
    box-shadow: none; }
  .form-search-wrapper.open .icon--search-button {
    border: 0.0625rem solid #8c1515;
    border-left: 0; }
    .form-search-wrapper.open .icon--search-button:focus {
      box-shadow: #009cba 0 0 0.75rem;
      border-color: #009cba !important;
      outline: none; }

.active + .form-search-wrapper {
  display: inline-block; }

.form-search {
  position: relative; }

body.search-open .global-search {
  position: static; }
  @media (min-width: 1190px) {
    body.search-open .global-search {
      position: relative; } }

@media (min-width: 1190px) {
  body.search-open .main-content,
  body.search-open .exced-main-content {
    opacity: 0.1; } }

body.search-open .form-search-wrapper {
  display: block; }

@media (min-width: 1190px) {
  body.page-seed .form-search-wrapper, body.page-exec-ed .form-search-wrapper, body.page-exec-ed-search .form-search-wrapper {
    bottom: -4.6875rem; } }
